@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body {
    background-color: #0f0f0f;
}

.rectangle1 {
    width: 650px;
    height: 215px;
    background-color: #1e1b1e;
    display: flex;
    border-radius: 18px;
    margin-top: 25px;
    margin-left: 14px;
}

.bold {
    font-size: 55px;
    display: flex;
    color: white;
    font-family: 'Belanosima', sans-serif;
    margin-top: -10px;
    margin-left: 10px;
    padding: 10px;
}

.text1 {
    margin-top: -2px;
    margin-left: 25px;
}

.hire {
    font-size: 20px;
    display: flex;
    color: white;
    background-color: #8325fd;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #8325fd;
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin-top: 160px;
    margin-left: -150px;
    margin-right: 30px;
}

.img {
    margin-left: 10px;
}



.rectangle2 {
    width: 650px;
    height: 60px;
    background-color: #1e1b1e;
    display: flex;
    border-radius: 18px;
    margin-top: -215px;
    margin-left: 686px;
}

.bm {
    display: flex;
    background-color: #1e1b1e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #1e1b1e;
    margin-top: 12px;
    margin-left: 540px;
}

.menu {
    width: 30px;
    height: 30px;
}

.name {
    font-family: 'Signika', sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 30px;
}

.rectangle3 {
    width: 750px;
    height: 215px;
    background-color: #1e1b1e;
    display: flex;
    border-radius: 18px;
    margin-top: 310px;
    margin-left: 14px;
}

.folio {
    font-family: 'Signika', sans-serif;
    color: white;
    margin-left: 22px;
    margin-top: 18px;
    font-size: 25px;
    font-weight: bold;
}

.see1 {
    font-family: 'Signika', sans-serif;
    color: #00c39aff;
    margin-left: 510px;
    margin-top: 18px;
    font-size: 25px;
    text-decoration: none;
}

.img1 {
    width: 221px;
    height: 118px;
    background-color: grey;
    border-radius: 18px;
    margin-top: 72px;
    margin-left: -707px;
}

.work1 {
    width: 221px;
    height: 118px;
    border-radius: 18px;
}

.img2 {
    width: 221px;
    height: 118px;
    background-color: grey;
    border-radius: 18px;
    margin-top: 72px;
    margin-left: 22px;
}

.work2 {
    width: 221px;
    height: 118px;
    border-radius: 18px;
}

.img3 {
    width: 221px;
    height: 118px;
    background-color: grey;
    border-radius: 18px;
    margin-top: 72px;
    margin-left: 22px;
}

.work3 {
    width: 221px;
    height: 118px;
    border-radius: 18px;
}

.rectangle4 {
    width: 202.3px;
    height: 105px;
    background-color: #00c39aff;
    display: flex;
    border-radius: 18px;
    margin-top: -345px;
    margin-left: 14px;
}

.experience {
    font-size: 55px;
    font-family: 'Belanosima', sans-serif;
    color: white;
    margin-top: 1px;
    margin-left: 77px;
}

.year {
    font-size: 15px;
    font-family: 'Signika', sans-serif;
    color: white;
    margin-top: 60px;
    margin-left: -86px;
}

.rectangle5 {
    width: 202.3px;
    height: 105px;
    background-color: #ffc03cff;
    display: flex;
    border-radius: 18px;
    margin-top: -105px;
    margin-left: 238px;
}

.project {
    font-size: 55px;
    font-family: 'Belanosima', sans-serif;
    color: white;
    margin-top: 1px;
    margin-left: 74px;
}

.handled {
    font-size: 15px;
    font-family: 'Signika', sans-serif;
    color: white;
    margin-top: 60px;
    margin-left: -84px;
}

.rectangle6 {
    width: 202.3px;
    height: 105px;
    background-color: #fe6d79ff;
    display: flex;
    border-radius: 18px;
    margin-top: -105px;
    margin-left: 462px;
}

.amount {
    font-size: 55px;
    font-family: 'Belanosima', sans-serif;
    color: white;
    margin-top: 1px;
    margin-left: 77px;
}

.clients {
    font-size: 15px;
    font-family: 'Signika', sans-serif;
    color: white;
    margin-top: 60px;
    margin-left: -50px;
}

.rectangle7 {
    width: 314px;
    height: 260px;
    background-color: #8325fd;
    display: flex;
    border-radius: 18px;
    margin-top: -260px;
    margin-left: 686px;
}

.male {
    width: 250px;
    height: 250px;
    margin-top: 5px;
    margin-left: 32px;
}

.rectangle8 {
    width: 314px;
    height: 45px;
    background-color: #1e1b1e;
    display: flex;
    border-radius: 18px;
    margin-top: -260px;
    margin-left: 1022px;
}

.tit {
    font-family: 'Signika', sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 15px;
}

.f {
    font-family: 'Signika', sans-serif;
    color: white;
    margin-left: 150px;
    margin-top: 12px;
    font-size: 15px;
    font-weight: bold;
}

.rectangle9 {
    width: 314px;
    height: 105px;
    background-color: #1e1b1e;
    display: flex;
    border-radius: 18px;
    margin-top: 25px;
    margin-left: 1022px;
}

.tit1 {
    font-family: 'Signika', sans-serif;
    color: white;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 15px;
}

.f1 {
    font-family: 'Signika', sans-serif;
    color: white;
    margin-left: 140px;
    margin-top: 12px;
    font-size: 15px;
    font-weight: bold;
}

.rectangle10 {
    width: 314px;
    height: 60px;
    background-color: #1e1b1e;
    display: flex;
    border-radius: 18px;
    margin-top: 25px;
    margin-left: 1022px;
}

.rectangle11 {
    width: 550px;
    height: 215px;
    background-color: #1e1b1e;
    display: flex;
    border-radius: 18px;
    margin-top: 25px;
    margin-left: 786px;
}

.summary {
    color: white;
    font-size: 16px;
    font-family: 'Signika', sans-serif;
    margin-left: -490px;
    margin-right: 22px;
    margin-top: 55px;
    display: flex;
}



.about {
    font-family: 'Signika', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 19px;
    margin-left: 22px;
}

.see {
    font-family: 'Signika', sans-serif;
    display: flex;
    color: #ffc03cff;
    font-size: 12px;
    text-decoration: none;
    margin-top: 19px;
    margin-left: 400px;
}